<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanniuh.pregnantprofilerecord.dao.PregnantProfileRecordMapper">

  <insert id="insert" parameterType="com.lanniuh.pregnantprofilerecord.model.PregnantProfileRecord">
    insert into t_pregnantprofile_record (id, result, errormsg, 
      push_time, req, selfpregnantinfos)
    values (#{id,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, #{errormsg,jdbcType=VARCHAR}, 
      #{pushTime,jdbcType=TIMESTAMP}, #{req,jdbcType=LONGVARCHAR},#{selfpregnantinfos,jdbcType=LONGVARCHAR})
  </insert>

</mapper>